USE [master]
GO
/****** Object:  Database [ShopBillingSystem]    Script Date: 9/9/2026 9:46:22 AM ******/
CREATE DATABASE [ShopBillingSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ShopBillingSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\ShopBillingSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ShopBillingSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\ShopBillingSystem_log.ldf' , SIZE = 4096KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ShopBillingSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ShopBillingSystem]
GO
/****** Object:  Table [dbo].[tbl_categories]    Script Date: 9/9/2026 9:46:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](50) NOT NULL,
	[description] [text] NOT NULL,
	[added_date] [varchar](50) NOT NULL,
	[added_by] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_products]    Script Date: 9/9/2026 9:46:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[category] [int] NOT NULL,
	[description] [text] NOT NULL,
	[price] [decimal](18, 2) NOT NULL,
	[qty] [decimal](18, 2) NOT NULL,
	[added_date] [varchar](50) NOT NULL,
	[added_by] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_products] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_transaction_detail]    Script Date: 9/9/2026 9:46:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_transaction_detail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[price] [decimal](18, 2) NOT NULL,
	[qty] [decimal](18, 2) NOT NULL,
	[total] [decimal](18, 2) NOT NULL,
	[added_date] [varchar](50) NOT NULL,
	[added_by] [varchar](50) NOT NULL,
	[transactionId] [int] NOT NULL,
 CONSTRAINT [PK_tbl_transaction_detail] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_transactions]    Script Date: 9/9/2026 9:46:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_transactions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[type] [varchar](50) NOT NULL,
	[grandTotal] [decimal](18, 2) NOT NULL,
	[transaction_date] [varchar](50) NOT NULL,
	[tax] [decimal](18, 2) NOT NULL,
	[discount] [decimal](18, 2) NOT NULL,
	[added_by] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_transations] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_users]    Script Date: 9/9/2026 9:46:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_users](
	[Id] [varchar](50) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Role] [varchar](50) NOT NULL,
	[Added_Date] [varchar](50) NOT NULL,
	[Added_By] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_categories]  WITH CHECK ADD  CONSTRAINT [FK_tbl_categories_tbl_users] FOREIGN KEY([added_by])
REFERENCES [dbo].[tbl_users] ([Id])
GO
ALTER TABLE [dbo].[tbl_categories] CHECK CONSTRAINT [FK_tbl_categories_tbl_users]
GO
ALTER TABLE [dbo].[tbl_products]  WITH CHECK ADD  CONSTRAINT [FK_tbl_products_tbl_categories] FOREIGN KEY([category])
REFERENCES [dbo].[tbl_categories] ([Id])
GO
ALTER TABLE [dbo].[tbl_products] CHECK CONSTRAINT [FK_tbl_products_tbl_categories]
GO
ALTER TABLE [dbo].[tbl_products]  WITH CHECK ADD  CONSTRAINT [FK_tbl_products_tbl_users] FOREIGN KEY([added_by])
REFERENCES [dbo].[tbl_users] ([Id])
GO
ALTER TABLE [dbo].[tbl_products] CHECK CONSTRAINT [FK_tbl_products_tbl_users]
GO
ALTER TABLE [dbo].[tbl_transaction_detail]  WITH CHECK ADD  CONSTRAINT [FK_tbl_transaction_detail_tbl_products] FOREIGN KEY([product_id])
REFERENCES [dbo].[tbl_products] ([id])
GO
ALTER TABLE [dbo].[tbl_transaction_detail] CHECK CONSTRAINT [FK_tbl_transaction_detail_tbl_products]
GO
ALTER TABLE [dbo].[tbl_transaction_detail]  WITH CHECK ADD  CONSTRAINT [FK_tbl_transaction_detail_tbl_transactions] FOREIGN KEY([transactionId])
REFERENCES [dbo].[tbl_transactions] ([id])
GO
ALTER TABLE [dbo].[tbl_transaction_detail] CHECK CONSTRAINT [FK_tbl_transaction_detail_tbl_transactions]
GO
ALTER TABLE [dbo].[tbl_transaction_detail]  WITH CHECK ADD  CONSTRAINT [FK_tbl_transaction_detail_tbl_users] FOREIGN KEY([added_by])
REFERENCES [dbo].[tbl_users] ([Id])
GO
ALTER TABLE [dbo].[tbl_transaction_detail] CHECK CONSTRAINT [FK_tbl_transaction_detail_tbl_users]
GO
ALTER TABLE [dbo].[tbl_transactions]  WITH CHECK ADD  CONSTRAINT [FK_tbl_transactions_tbl_users] FOREIGN KEY([added_by])
REFERENCES [dbo].[tbl_users] ([Id])
GO
ALTER TABLE [dbo].[tbl_transactions] CHECK CONSTRAINT [FK_tbl_transactions_tbl_users]
GO
ALTER TABLE [dbo].[tbl_users]  WITH CHECK ADD  CONSTRAINT [FK_tbl_users_tbl_users] FOREIGN KEY([Added_By])
REFERENCES [dbo].[tbl_users] ([Id])
GO
ALTER TABLE [dbo].[tbl_users] CHECK CONSTRAINT [FK_tbl_users_tbl_users]
GO
USE [master]
GO
